# NUXT_SITE_URL=https://karoljaron.dev
# NUXT_SITE_NAME="Karol Jaroń Portfolio"
# NUXT_SITE_DESCRIPTION="Full-stack portfolio focused on practical websites, web applications, backend APIs and automation tools."
# NUXT_SITE_DEFAULT_LOCALE=en
# NUXT_SITE_ENV=production

# NUXT_PUBLIC_I18N_BASE_URL=https://karoljaron.dev
